<!DOCTYPE html>
<html>
<head>
  <title>EpicFail</title>
  <%= stylesheet_link_tag    "epic_fail/application" %>
  <%= javascript_include_tag "epic_fail/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
