<!DOCTYPE html>
<html>
<head>
  <title>EpicFail</title>
  <%= stylesheet_link_tag    "oil_change/application" %>
  <%= javascript_include_tag "oil_change/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
